
body {
  height: 100%;
	width: 100%;
	color: white;
    background-color: #141d29;
	overflow-x: hidden !important;
	overflow-y: automatic;
}

.block1{
	display: block;
	color: #a9c5e6;
    background-color: #141d29;
	margin-top: 300px;
	font-size: 20px;
	border-top: 2px solid #70b4d6;
}
.block3{
	display: block;
	color: black;
    background-color: #909090;
	font-size: 20px;

}
.end{
display: block;
background: #505560;
height: 100%;
width: 100%;
z-index: 1;
position: fixed;
}
.middle{
position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.block2{
	display: block;
	background-color: #222223;
	padding: 10px;
	color: #666669;
	text-align: right;
}

footer{
height: 200px;
border-top: 3px solid rgb(60,100,165);
}
.image {
	position: fixed;
	height: 70%;
	width: 100%;
	object-fit: cover;
	z-index: -1;	
	overflow-y: hidden;
}

div.image.shrink{
	opacity: 0.3;
}

.modal-content{
	border-radius: 10	px;
}
li{
	margin-left:10px;	
}

.logo{
	margin-top:20px;
}
.nav{
background-color: #243447;

}


header{
	height: 80px;
	background-color: #243447;
	transition: all .5s ease;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
}
.nav2{
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);

}
header.nav.shrink{
	height: 70px;
	opacity: 0;
	transition: all .5s ease;
}

.contain{
	color: gray;
	background-color: #1b2637;
	padding: 10px 50px 30px 50px;
}

.custom-file-input{
	background-color: #182430;
	border: 1px solid #243240;
}


div.contain.shrink{
	
  transition: all .5s ease;
	
}
.spacing{
	display: block;
	height: 80px;
}


.form-control{
	background-color: #182430;
	border: 1px solid #243240;
	color: white;
	margin: 10px;
}
.form-control-2{
	background-color: transparent;
	border: none;
	color: rgba(255,255,255,0.9);
}
.form-control:focus{
	background-color: #1a2632;
	border: 1px solid #243240;
	color: white;
}
.nav-btn{
	font-family: 'Lato',sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .15em;
	font-weight: 500;
	border-bottom: 4px solid transparent;
	padding: 36px 0 20px 0;
	margin: 0 10px 0 10px;
	text-decoration: none;
	color: #aaaaaa;
}
.advanced{
	margin-top: 8px;
	padding: 5px;
}

.nav-btn:hover, .nav-btn:focus{
	outline: none;
	border-bottom: 4px solid white;
	text-decoration: none;
	color: #cccccc;
	
}

#submit{
margin-top: 20px;
margin-bottom: 100px;
}
.token{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 8px solid #182430;
	background: #182430;
	overflow:hidden;
	text-align:center;
	cursor: pointer;
	transition: all 0.3s;
}
#image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.active, .active:hover{
	color: white;
	border-bottom: 4px solid white;
}
.wave{
	padding: 0px;
	border-radius: 50%;
	transition: all 0.5s;
	box-shadow: 0 0 120px rgba(0,0,0,0);
	border: none;
	background-color: #182430;
	margin-bottom: 20px;
	margin-top: 20px;
	
}
.wave:hover{
	margin-top: 0;
	transition: all 0.5s;
	padding:19px 20px 140px 20px;
	border-radius: 8px;
	border: 0px solid rgba(255,255,255, 0.05);
	box-shadow: 18px 18px 25px rgba(0,0,0,0.2);
	
}

.shadow{
	padding: 0;
	margin: 0;
	border-radius: 50%;
	border: none;
	transition: all 0.1s ease;
	padding: 0px;
	background-image: linear-gradient(red, yellow, green, blue);
	background-image: none;

	box-shadow: 0 0 20px rgba(0,0,0,0);
}
wave:hover .shadow{
	transition: all 0.1s ease;
	box-shadow: 0 0 0px rgba(0,0,0,0);
}

.title{
	padding: 0;
	margin: 0;
	height: 0;
	opacity: 0;
	color: white;
	transition: all 0.15s;
	transition-delay: 0s;
	max-width: 200px;
	
}

.center{
	text-align: center;
	font-size: 18px;
}

.wave:hover .title{
	transition: all 0.7s;
	transition-delay: 0.2s;
	padding: 5px 0 10px 0;	
	opacity: 1;
}
.wave:hover .center{
	margin-bottom: 10px;
	transition: all 0.7s;
	
	transition-delay: 0s;
	
}
.wave:hover .token{
	border: 0px solid #182430;
	transition: all 0.3s;
	
}
.card{
	margin-left: 50px;
	padding: 0;
	background: transparent;
	border:none;
	width: 200px;
}

.panel-title{
	padding-top: 20px;
font-weight: 350;
font-size: 21px;
}

.solo{
	margin: 0;
}


#editor {
  /** Setting height is also important, otherwise editor wont showup**/
  height: 300px;
  width: 100%;
}
