#loader {
    border: 3px solid white;
		border-bottom: 3px solid gray;
		border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.75s linear infinite;
		position: absolute;
		z-index: 5;
		}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#screen{
	width: 500%;
	height: 500%;
	top: 0px;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	overflow: hidden;
	cursor: progress;
	z-index: 4;
}