<!DOCTYPE html>
<html lang="en">

<head>
	<title>T o k e n</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	 crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	 crossorigin=""></script>

	//Map
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.Default.css">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.css">
	<script src="https://unpkg.com/leaflet.markercluster@1.0.4/dist/leaflet.markercluster.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>

	//Calendar
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.source-map.js"></script>

	//Gas price
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
	<script src=https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js> </script> <style>

    .col-lg-3, .col-lg-5, .col-lg-6, .col-lg-4, .col-lg-2, #code {
		position: relative;
		margin: 7px 7px;
		padding: 10px 10px 10px;
		background-color: #fff;
		border: 1px solid #ebebeb;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.modal-content {
    	background-color:#fafafa;
	},

	.btn {

		 margin-top: 15px;
		 border: none;"
	}
	}

	</style>
</head>

<body>


	<header class="nav fixed-top">
		<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="50px" data-toggle="tooltip"
		 data-placement="bottom" title="Alpha 1.0"></img>

		<a class="nav-btn" href="home">Home</a>
		<a class="nav-btn active" href="" data-placement="bottom" title="View token analytics">Analytics</a>
		<a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>
		<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
		<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>

		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item dropdown">
				<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					My Account
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
					<a class="dropdown-item" id="#username">Username</a>
					<a class="dropdown-item" href="index">Logout</a>
				</div>
			</li>
		</ul>
	</header>
	<div class="spacing"></div>

	<script>
		var map;
		function analyze(con_id) {
			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/analytics/" + con_id,
				function (data, status) {
					console.log(data.resp_data.num_claimed + ", " + data.resp_data.num_unclaimed + data.resp_data.coordinates); // read

					drawMap(data.resp_data.loc_constraints, data.resp_data.coordinates);
					$('#ex1').on('shown.bs.modal', function () {
						drawChart(data.resp_data.num_claimed, data.resp_data.num_unclaimed);
						drawGasPrices(data.resp_data.price_and_time, data.resp_data.traded);
						drawCalendar(data.resp_data.time_windows, data.resp_data.price_and_time["claim_timestamps"]);
						numTraded(data.resp_data.traded);
					});
					$('#ex1').modal('show');
					map.invalidateSize();
				},

				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		}
	</script>

	<script>
		function display(collection) {
			$('#collection').text("");
			var tokens = '<div class="row">';
			for (var i = 0; i < collection.contracts.length; i++) {
				//$('#collection').append(collection.contracts[i].name + ":<br>" + collection.contracts[i].description + "<br>");
				tokens += '<div class="card align-items-center"><div class="wave"><div class="shadow"><div class="token" onclick="analyze(' + collection.contracts[i].con_id + ')"><img id="image" src=' + collection.contracts[i].pic_location + ' alt="" width="128"/></div></div><div class="title center">' + collection.contracts[i].name + '</div><div class="title">' + collection.contracts[i].description + '</div></div></div>';
			}
			tokens += '</div>';
			$('#collection').append(tokens);
		}
		var url = "167.99.26.0:80";
		//var url = "localhost:8088";

		$('document').ready(function view() {

			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/contract",
				function (data, status) {
					console.log(data); // read

					display(data.resp_data);
				},
				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		});
		function display_codes(codes) {
			var qrs = '<div id="code" class="row"><p>QR-Codes</p>';
			for (var i = 0; i < codes.length; i++) {
				//$('#collection').append(collection.contracts[i].name + ":<br>" + collection.contracts[i].description + "<br>");
				qrs += '<img style="padding: 10px" src=' + codes[i] + ' alt="" height="220" width="220"/>';
			}
			qrs += '</div>';
			$('#qr').append(qrs);
		}
		function qr_code(con_id) {
			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/contract/qr_code/con_id=" + con_id,
				function (data, status) {
					console.log(data); // read
					$('#qr').text("");

					if (data.resp_data.qr_codes.length > 1)
						display_codes(data.resp_data.qr_codes)
				},

				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		}
	</script>
	<div id="collection"></div>
	<form class="form-inline my-2 my-lg-0" id="target" action="javascript:view();" style="display:none;">
		<input class="form-control mr-sm-2" type="search" placeholder="Search My Tokens" aria-label="Search">
		<button class="btn btn-outline-primary my-2 my-sm-0">Search</button>
	</form>


	<div id="ex1" class="modal">
		<div class="modal-dialog modal-lg" style="max-width: 90%!important; color:black;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-3">
							<p>Percent Claimed</p>
							<canvas id="pie-chart" style="height: 100px;"></canvas>
						</div>
						<div class="col-lg-2">
							<p>Number of Trades</p>
							<p id="traded"></p>
						</div>
						<div class="col-lg-4">
							<p>Token Claim Timestamps</p>

							<div id="cal-heatmap"></div>
							<div id="container" style="float: right;">
								<button id="minDate-previous" class="btn"><i class="fa fa-angle-left"></i></button>
								<button id="minDate-next" class="btn"><i class="fa fa-angle-right"></i></button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<p>Transaction Cost</p>
							<canvas id="lineChart" width="50%" height="80%"></canvas>
							<button id="gasprice" type="button" class="btn">Gas Price</button>
							<button id="gascost" type="button" class="btn">Gas Cost</button>
							<button id="transactioncost" type="button" class="btn">Total Cost</button>

						</div>
						<div class="col-lg-5">
							<p>Location</p>
							<div id="mapid" style="height: 400px;"></div>
						</div>
					</div>

					<div class="row">
						<div id="qr"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function numTraded(traded) {

			if (traded == -1)
				document.getElementById("traded").innerHTML = "This token is not tradable";

			else
				document.getElementById("traded").innerHTML = traded;
		}
	</script>

	<script>
		Chart.pluginService.register({
			beforeDraw: function (chart) {
				if (chart.config.options.elements.center) {
					//Get ctx from string
					var ctx = chart.chart.ctx;

					//Get options from the center object in options
					var centerConfig = chart.config.options.elements.center;
					var fontStyle = centerConfig.fontStyle || 'Arial';
					var txt = centerConfig.text;
					var color = centerConfig.color || '#000';
					var sidePadding = centerConfig.sidePadding || 20;
					var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
					//Start with a base font of 30px
					ctx.font = "30px " + fontStyle;

					//Get the width of the string and also the width of the element minus 10 to give it 5px side padding
					var stringWidth = ctx.measureText(txt).width;
					var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

					// Find out how much the font can grow in width.
					var widthRatio = elementWidth / stringWidth;
					var newFontSize = Math.floor(30 * widthRatio);
					var elementHeight = (chart.innerRadius * 2);

					// Pick a new font size so it will not be larger than the height of label.
					var fontSizeToUse = Math.min(newFontSize, elementHeight);

					//Set font settings to draw it correctly.
					ctx.textAlign = 'center';
					ctx.textBaseline = 'middle';
					var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
					var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
					ctx.font = fontSizeToUse + "px " + fontStyle;
					ctx.fillStyle = color;

					//Draw text in center
					ctx.fillText(txt, centerX, centerY);
				}
			}
		});


		var piechart = new Chart(document.getElementById("pie-chart"));
		function drawChart(claimed, unclaimed) {
			var percentage = Math.round(100 * (claimed / (claimed + unclaimed)));
			piechart.destroy();
			piechart = new Chart(document.getElementById("pie-chart"), {
				type: 'doughnut',
				data: {
					labels: ["Claimed", "Unclaimed"],
					datasets: [{
						backgroundColor: ["#141d29", "#ededed"],
						data: [claimed, unclaimed]
					}]
				},

				options: {
					legend: { display: false },
					cutoutPercentage: 70,
					elements: {
						center: {
							text: percentage + "%",
							fontStyle: 'Arial', // Default is Arial
							sidePadding: 70 // Defualt is 20 (as a percentage)
						}
					}
				}
			});
		}
	</script>

	<script>
		var map = L.map("mapid");
		var tileLayer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_nolabels/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
			subdomains: 'abcd',
			minZoom: 1,
			maxZoom: 16,
			ext: 'jpg'
		});

		tileLayer.addTo(map);

		map.setView([0, 0], 0);
		var clusters = L.markerClusterGroup();
		var claimingRegion = L.circle();

		function drawMap(loc_constraints, coordinates) {

			map.removeLayer(clusters);
			map.removeLayer(claimingRegion);
			clusters.clearLayers();


			for (i = 0; i < coordinates.length; i++) {
				var circle = L.circleMarker(coordinates[i],
					{
						radius: 4,
						weight: 1,
						color: 'white',
						fill: true,
						fillColor: '141d29',
						fillOpacity: 1.0
					});

				clusters.addLayer(circle);
			}
			map.addLayer(clusters);

			$('#ex1').on('shown.bs.modal', function () {
				map.invalidateSize();
			});

		}
	</script>


	<script>
		var cal = new CalHeatMap();
		cal.init({});

		function drawCalendar(timeWindows, data) {

			//Reset next and prev buttons
			document.getElementById('minDate-next').style.visibility = 'visible';
			document.getElementById('minDate-previous').style.visibility = 'visible';
			document.getElementById("minDate-next").disabled = false;
			document.getElementById("minDate-previous").disabled = false;

			claimBegin = timeWindows[0][0]; //Assuming only 1 time window for claiming
			claimEnd = timeWindows[0][1];



			if (claimEnd == -1) {
				var lastDayInMonth = new Date();
				lastDayInMonth.setMonth(lastDayInMonth.getMonth() + 1);
				lastDayInMonth.setDate(1); // first day in next month
				lastDayInMonth.setDate(lastDayInMonth.getDate() - 1);

				claimEnd = lastDayInMonth;
			}
			var stats = {};
			//Get the data in the correct form:
			// { "timestamp" : 1 ,
			//  "timestamp2" : 1 , ...}

			// where timestamp is the date in seconds (epoch time)
			for (var d in data) {
				var timestamp = (new Date(data[d]).getTime() / 1000).toString();
				stats[timestamp] = 1;
			}

			var minDate = new Date(claimBegin);
			var maxDate = new Date(claimEnd);

			var endOfFinalDay = new Date(maxDate);
			endOfFinalDay.setHours(23);
			endOfFinalDay.setMinutes(59);
			endOfFinalDay.setSeconds(59);
			for (var d = new Date(minDate); d <= endOfFinalDay; d.setDate(d.getDate() + 1)) {

				if (!((new Date(d).getTime() / 1000) in stats))
					stats[new Date(d).getTime() / 1000] = 0;
			}

			var range = monthRange(minDate, maxDate);
			var maxRangeToDisplay = 4;
			if (range <= maxRangeToDisplay) {
				document.getElementById('minDate-previous').style.visibility = 'hidden';
				document.getElementById('minDate-next').style.visibility = 'hidden';
			}


			cal = cal.destroy();
			cal = new CalHeatMap();
			cal.init({
				data: stats,
				itemNamespace: "cal-heatmap",
				considerMissingDataAsZero: false,
				start: new Date(claimBegin),
				domain: "month",
				minDate: minDate,
				maxDate: maxDate,
				subDomain: "x_day",
				range: Math.min(maxRangeToDisplay, monthRange(minDate, maxDate)),
				cellSize: 15,
				legendCellSize: 15,
				domainGutter: 6,
				label: { position: "top" },

				itemName: ["token claimed", "tokens claimed"],
				subDomainTitleFormat: {
					empty: "Token was unavailable on {date}"
				},
				displayLegend: true,
				//legend:[5,20,30,40,50],
				legendColors: {
					empty: "#ededed",
					max: "#acffe9",
					min: "#141d29",
					base: "#f9f9f9"
				},

				tooltip: true
			});
		}

		$("#minDate-previous").on("click", function (e) {
			e.preventDefault();
			if (!cal.previous()) {
				document.getElementById("minDate-previous").disabled = true;
			}
			else
				document.getElementById("minDate-next").disabled = false;
		});

		$("#minDate-next").on("click", function (e) {
			e.preventDefault();
			if (!cal.next()) {
				document.getElementById("minDate-next").disabled = true;
			}

			else
				document.getElementById("minDate-previous").disabled = false;
		});


		function monthRange(start, end) {
			return end.getMonth() - start.getMonth()
				+ (12 * (end.getFullYear() - start.getFullYear())) + 1;
		}

	</script>

	<script>
		var claim_cost_data = [];
		var claim_price_data = [];
		var claim_total_cost_data = [];

		var trade_cost_data = [];
		var trade_price_data = [];
		var trade_total_cost_data = [];

		var tradable = 0;

		var chartColors = {
			red: 'rgb(255, 99, 132)',
			orange: 'rgb(255, 159, 64)',
			yellow: 'rgb(255, 205, 86)',
			green: 'rgb(75, 192, 192)',
			blue: 'rgb(54, 162, 235)',
			purple: 'rgb(153, 102, 255)',
			grey: 'rgb(231,233,237)'
		};

		var chart = new Chart(document.getElementById("lineChart"));
		var first = true;
		function drawGasPrices(priceAndTime, traded) {
			tradable = traded;
			claim_cost_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_gas_cost"]);
			claim_price_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_gas_price"]);
			claim_total_cost_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_transaction_cost"]);

			trade_cost_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_gas_cost"]);
			trade_price_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_gas_price"]);
			trade_total_cost_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_transaction_cost"]);
			if (first == true) {
				chart.destroy();
				var config = {
					type: 'scatter',
					data: {
						datasets: [{
							label: 'Claim',
							data: claim_price_data,
							showLine: true,
							fill: false,
							backgroundColor: chartColors.red,
							borderColor: chartColors.red,
						}
						]
					},
					options: {
						title: {

						},
						legend: { display: true },
						scales: {
							bounds: 'ticks',
							xAxes: [{
								display: true,
								type: 'time',
								time: {
									displayFormats: {
										'millisecond': 'MMM DD',
										'second': 'MMM DD',
										'minute': 'MMM DD',
										'hour': 'MMM DD',
										'day': 'MMM DD',
										'week': 'MMM DD',
										'month': 'MMM DD',
										'quarter': 'MMM DD',
										'year': 'MMM DD',
									}
								},
								scaleLabel: {
									display: true,
									labelString: 'Time of Transaction'
								}
							}],
							yAxes: [{
								scaleLabel: {
									display: true,
									labelString: "Gas Price"
								}
							}]
						}
					}
				}

				var ctx = document.getElementById("lineChart");
				chart = new Chart(ctx, config);
				console.log("new chart");
				first = false;
				chart.update();
			}

			else {
				var data = chart.config.data;
				chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Price";
				data.datasets[0].data = claim_price_data;

				if (data.datasets.length > 1) {
					console.log("length:");
					console.log(data.datasets.length);
					data.datasets.pop();
					console.log("removing dataset..");
				}
				console.log("new length:");
				console.log(data.datasets.length);
				chart.update();
			}

			if (tradable != -1) //Token is tradable
			{
				var trade_dataset = {
					label: "Trade",
					data: trade_price_data,
					showLine: true,
					fill: false,
					backgroundColor: chartColors.blue,
					borderColor: chartColors.blue
				}

				chart.data.datasets.push(trade_dataset);
				chart.update();
			}
		}

		$("#gasprice").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Price";
			data.datasets[0].data = claim_price_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_price_data;
			}
			chart.update();
		});

		$("#gascost").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Cost";
			data.datasets[0].data = claim_cost_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_cost_data;
			}
			chart.update();
		});

		$("#transactioncost").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Total cost";
			data.datasets[0].data = claim_total_cost_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_total_cost_data;
			}
			chart.update();
		});

		function formatData(xvals, yvals) {
			var formattedData = [];
			var datum = {};
			//Get the data in the correct form:
			// { x : 'date' ,
			//  y : 'price' , ...}
			for (var i in xvals) {
				datum = {};
				datum["x"] = new Date(xvals[i]);
				datum["y"] = yvals[i];
				formattedData.push(datum);
			}

			return formattedData;
		}
	</script>

	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>


	</body>

</html>