<!DOCTYPE html>
<html lang="en">

<head>
	<title>T o k e n</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">


	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
	 crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
	 crossorigin=""></script>

	//Map
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.Default.css">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.4/dist/MarkerCluster.css">
	<script src="https://unpkg.com/leaflet.markercluster@1.0.4/dist/leaflet.markercluster.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>

	//Calendar
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.source-map.js"></script>

	//Gas price
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
	<script src=https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js> </script>
	<style>


    .col-lg-3, .col-lg-5, .col-lg-6, .col-lg-4, .col-lg-2, col-lg-11, #code {
		position: relative;
		padding: 20px 20px;
		margin: 5px;
		background-color: #fff;
		border: 1px solid #ebebeb;
		border-radius: 7px;
		display: inline-block;

	}

    .good-border {
        position: relative;
		margin: 7px 7px;
		padding: 10px 10px 10px;
		background-color: #fff;
		border: 1px solid #ebebeb;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
    }

	.box {

	}

	.modal-header {
		background-color:#fafafa;
	}
	.modal-content {
    	background-color:#fafafa;
	}

	.btn {

		 margin-top: 15px;
		 border: none;"
	}

	</style>
</head>

<body>


	<header class="nav fixed-top">
		<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="50px" data-toggle="tooltip"
		 data-placement="bottom" title="Alpha 1.0"></img>

		<a class="nav-btn" href="home">Home</a>
		<a class="nav-btn active" href="" data-placement="bottom" title="View token analytics">Analytics</a>
		<a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>
		<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
		<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>

		<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
			<li class="nav-item dropdown">
				<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					My Account
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
					<a class="dropdown-item" id="#username">Username</a>
					<a class="dropdown-item" href="index">Logout</a>
				</div>
			</li>
		</ul>
	</header>
	<div class="spacing"></div>

	<script>
        function toggle_visibility(element) {
                var e = element;
                if (e.style.display == 'inline-block')
                    e.style.display = 'none';
                else
                    e.style.display = 'inline-block';
            }

        function toggle_on(element) {
                var e = element;
                e.style.display = 'inline-block';
            }
        function toggle_off(element) {
                var e = element;
                e.style.display = 'none';
            }


		var map;

		function analyze(con_id) {
			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/analytics/" + con_id,
				function (data, status) {
					console.log(data.resp_data.num_claimed + ", " + data.resp_data.num_unclaimed + data.resp_data.coordinates); // read

					drawMap(data.resp_data.loc_constraints, data.resp_data.coordinates);
					$('#ex1').on('shown.bs.modal', function () {
						drawChart(data.resp_data.num_claimed, data.resp_data.num_unclaimed, "Claimed", "Unclaimed", chartColors.claimColor, "#ededed", "pie_chart");
						drawTradedChart(data.resp_data.num_traded_tokens, data.resp_data.num_claimed - data.resp_data.num_traded_tokens);
						drawGasPrices(data.resp_data.price_and_time, data.resp_data.traded);
						drawCalendar(data.resp_data.time_windows, data.resp_data.price_and_time["claim_timestamps"]);
						drawConstraints(data.resp_data.qr_code_claimable, data.resp_data.constraints);
						numTraded(data.resp_data.traded);
						setMetaDataURL(con_id);
					});
					$('#ex1').modal('show');
					map.invalidateSize();
					qr_code(con_id);
				},

				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		}
	</script>

	<script>
		function display(collection) {
			$('#collection').text("");
			var tokens = '<div class="row">';
			for (var i = 0; i < collection.contracts.length; i++) {
				//$('#collection').append(collection.contracts[i].name + ":<br>" + collection.contracts[i].description + "<br>");
				tokens += '<div class="card align-items-center"><div class="wave"><div class="shadow"><div class="token" onclick="analyze(' + collection.contracts[i].con_id + ')"><img id="image" src=' + collection.contracts[i].pic_location + ' alt="" width="128"/></div></div><div class="title center">' + collection.contracts[i].name + '</div><div class="title">' + collection.contracts[i].description + '</div></div></div>';
			}
			tokens += '</div>';
			$('#collection').append(tokens);
		}
		var url = "167.99.26.0:80";
		//var url = "localhost:8088";

		$('document').ready(function view() {

			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/contract",
				function (data, status) {
					console.log(data); // read

					display(data.resp_data);
				},
				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		});
		function display_codes(codes, zip_url) {
			var qrs = '<div id="code" class="row"><div class="col-lg-12"><h2>QR CODES:</h2></div>';
			for (var i = 0; i < codes.length; i++) {
				qrs += '<div class="col-lg-3">' +
                            '<img style="padding: 10px" src=' + codes[i] + ' id="qr-code-image" height="220" width="220"/> ' +
                            '<a class="btn btn-primary" href=' + codes[i] + ' download="qr_code' + i + '.png">DOWNLOAD</a>' +
                        '</div>';
			}
			qrs += '<div class="col-lg-12"><a class="btn btn-primary btn-lg btn-block" href=' + zip_url + ' download="qr_codes.zip">DOWNLOAD ALL QR CODES</a></div>'
			qrs += '</div>';
			$('#qr').append(qrs);
		}
		function qr_code(con_id) {
			$.ajaxSetup({
				headers: {
					'Authorization': document.cookie
				}
			});
			$.get(
				"http://" + url + "/contract/qr_code/con_id=" + con_id,
				function (data, status) {
					console.log(data); // read
					$('#qr').text("");

					if (data.resp_data.qr_codes.length > 1) {
                        $("#qr").innerHTML = "";
                        zip_download_location = "http://" + url + "/contract/qr_code/zip/con_id=" + con_id
                        display_codes(data.resp_data.qr_codes, zip_download_location)
                    }
				},

				'json')
				.fail(function (response) {
					//status
					//status_code
					//var obj = JSON.parse(response.responseText);
					console.log(response.responseText);
				});
		}
	</script>
	<div id="collection"></div>
	<form class="form-inline my-2 my-lg-0" id="target" action="javascript:view();" style="display:none;">
		<input class="form-control mr-sm-2" type="search" placeholder="Search My Tokens" aria-label="Search">
		<button class="btn btn-outline-primary my-2 my-sm-0">Search</button>
	</form>



	<div id="ex1" class="modal">
		<div class="modal-dialog modal-lg" style="max-width: 90%!important; color:black;">
			<div class="modal-content">
				<div class="modal-header">


					 <div class="container-fluid" id="all_constraints">

						 <p>Claiming Constraints</p>

						 <div class="row">
                                <div class="col-lg-3" id="uc_codes">

                                    <p>Input Codes:</p>
                                    <ul id="code_list" class="list-group list-group-flush"></ul>

                                </div>

								 <div class="col-lg-3" id="time_constraints">

                                    <p>Time Window:</p>
                                    <ul id="time_list" class="list-group list-group-flush"></ul>

                                </div>

                                <div class="col-lg-3" id="location_constraints">
                                    <p>Location</p>
                                    <ul id="loc_list" class="list-group list-group-flush"></ul>
                                </div>

						<div class="col-lg-3">
							<p id="trade_constraint"> Tradable: </p>
						</div>

						 </div>

					</div>
				</div>
				<div class="modal-body">


					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3">

								<p>Percent Claimed</p>
								<canvas id="pie-chart" style="height: 100px;"></canvas>

							</div>
							<div class="col-lg-3" id="traded_div">

								<p>Percent Traded</p>
								<canvas id="pie-chart2" style="height: 100px;"></canvas>
								<p id="traded"></p>

							</div>
							<div class="col-lg-5">
								<div class="box">
								<p>Token Claim Timestamps</p>

								<div id="cal-heatmap"></div>
								<div id="container" style="float: right;">
									<button id="minDate-previous" class="btn"><i class="fa fa-angle-left"></i></button>
									<button id="minDate-next" class="btn"><i class="fa fa-angle-right"></i></button>
								</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<p>Transaction Cost</p>
								<canvas id="lineChart" width="50%" height="80%"></canvas>
								<button id="gasprice" type="button" class="btn">Gas Price</button>
								<button id="gascost" type="button" class="btn">Gas Cost</button>
								<button id="transactioncost" type="button" class="btn">Total Cost</button>

							</div>
							<div class="col-lg-5">
								<p>Location</p>
								<div id="mapid" style="height: 400px;"></div>
							</div>
						</div>

					<div class="row">
						<div class="col-lg-12" id="qr"></div>
					</div>

                    <div class="row">
                        <div class="col-lg-12" id="metadata_id"/>
                    </div>
				</div>
			</div>
		</div>
	</div>


    <script>
        function setMetaDataURL(con_id){
            $('#metadata_id').append('<a class="btn btn-primary btn-lg btn-block" href="http://' + url + '/contract/metadata/con_id=' + con_id + '" download="metadata.json"> DOWNLOAD METADATA</a>')
        }

        function drawConstraints(qr_code_claimable, constraints){
            var ul = document.getElementById("code_list");
            ul.innerHTML = "";
            var ul = document.getElementById("time_list");
            ul.innerHTML = "";
            ul = document.getElementById("loc_list");
            ul.innerHTML = "";

            if(qr_code_claimable){
                toggle_off(document.getElementById("all_constraints"))
            }

            else{
                toggle_on(document.getElementById("all_constraints"))

                var code_constraints = document.getElementById("uc_codes");
                toggle_on(code_constraints);
                var location_constrains = document.getElementById("location_constraints");
                toggle_on(location_constrains);
                var time_constraints = document.getElementById("time_constraints");
                toggle_on(time_constraints);

                var codes = constraints['code_constraints'];
                if(codes.length == 0){
                    toggle_off(code_constraints);
                }else{
                    var ul = document.getElementById("code_list");
                    ul.innerHTML = "";
                    for (ix in codes){
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(codes[ix]["code"]));
                        ul.appendChild(li)
                    }
                }
                var locations = constraints['location_constraints'];
                if(locations.length == 0){
                    toggle_off(location_constrains);
                }else{
                    var ul = document.getElementById("loc_list");
                    ul.innerHTML = "";
                    for (ix in locations){
                        var li = document.createElement("li");
                        latitude =  parseFloat(locations[ix]["latitude"]).toFixed(2);
                        longitude = parseFloat(locations[ix]["longitude"]).toFixed(2);
 						radius = locations[ix]["radius"];
                        li.appendChild(document.createTextNode("Must be within " + radius + " meters of " + "(" + latitude + "," + longitude + ")" ));
                        ul.appendChild(li)
                    }
                }
                var times = constraints['time_constraints'];
                if(times.length == 0){
                    toggle_off(time_constraints);
                }else{
                    var ul = document.getElementById("time_list");
                    ul.innerHTML = "";
                    for (ix in times){
                        var li = document.createElement("li");
                        var options = {year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' , second: '2-digit'};
                        start = new Date(times[ix]["start"]).toLocaleDateString("en-US", options);
                        end = new Date(times[ix]["end"]).toLocaleDateString("en-US", options);
                        li.appendChild(document.createTextNode("Start Date: " + start + ", \n"));
						li.appendChild(document.createTextNode("End Date: " + end ));
                        ul.appendChild(li)
                    }
                }

            }
        }
    </script>
	<script>
		function numTraded(traded) {

			if (traded == -1) {
				document.getElementById("trade_constraint").innerHTML = "Tradable: No";
				document.getElementById("traded").innerHTML = "";
			}

			else {
				document.getElementById("trade_constraint").innerHTML = "Tradable: Yes";
				document.getElementById("traded").innerHTML = "\n Total number of trades: " + traded;
			}
		}

		function drawTradedChart(traded, untraded) {
			if (untraded > 0) {
				toggle_on(document.getElementById("traded_div"));
				drawSecondChart(traded, untraded, "Traded", "Original Owner", chartColors.tradeColor, chartColors.claimColor, "pie-chart2");
			}
			else
				toggle_off(document.getElementById("traded_div"))

		}
	</script>

	<script>
		Chart.pluginService.register({
			beforeDraw: function (chart) {
				if (chart.config.options.elements.center) {
					//Get ctx from string
					var ctx = chart.chart.ctx;

					//Get options from the center object in options
					var centerConfig = chart.config.options.elements.center;
					var fontStyle = centerConfig.fontStyle || 'Arial';
					var txt = centerConfig.text;
					var color = centerConfig.color || '#000';
					var sidePadding = centerConfig.sidePadding || 20;
					var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2)
					//Start with a base font of 30px
					ctx.font = "30px " + fontStyle;

					//Get the width of the string and also the width of the element minus 10 to give it 5px side padding
					var stringWidth = ctx.measureText(txt).width;
					var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

					// Find out how much the font can grow in width.
					var widthRatio = elementWidth / stringWidth;
					var newFontSize = Math.floor(30 * widthRatio);
					var elementHeight = (chart.innerRadius * 2);

					// Pick a new font size so it will not be larger than the height of label.
					var fontSizeToUse = Math.min(newFontSize, elementHeight);

					//Set font settings to draw it correctly.
					ctx.textAlign = 'center';
					ctx.textBaseline = 'middle';
					var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
					var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
					ctx.font = fontSizeToUse + "px " + fontStyle;
					ctx.fillStyle = color;

					//Draw text in center
					ctx.fillText(txt, centerX, centerY);
				}
			}
		});

		var claimed_chart = new Chart(document.getElementById("pie-chart"));
		function drawChart(d1, d2, label1, label2, color1, color2, id) {
			console.log("d1", d1);
			console.log("d2", d2);

			var percentage = Math.round(100 * (d1 / (d1 + d2)));
			claimed_chart.destroy();

			claimed_chart = new Chart(document.getElementById("pie-chart"), {
				type: 'doughnut',
				data: {
					labels: [label1, label2],
					datasets: [{
						backgroundColor: [color1, color2],
						backgroundColor: [color1, color2],
						data: [d1, d2]
					}]
				},

				options: {
					legend: { display: false },
					cutoutPercentage: 70,
					elements: {
						center: {
							text: percentage + "%",
							fontStyle: 'Arial', // Default is Arial
							sidePadding: 70 // Defualt is 20 (as a percentage)
						}
					}
				}
			});
		}


		var traded_chart = new Chart(document.getElementById("pie-chart2"));
		function drawSecondChart(d1, d2, label1, label2, color1, color2, id) {
			console.log("d1", d1);
			console.log("d2", d2);

			var percentage = Math.round(100 * (d1 / (d1 + d2)));
			traded_chart.destroy();

			traded_chart = new Chart(document.getElementById(id), {
				type: 'doughnut',
				data: {
					labels: [label1, label2],
					datasets: [{
						backgroundColor: [color1, color2],
						backgroundColor: [color1, color2],
						data: [d1, d2]
					}]
				},

				options: {
					legend: { display: false },
					cutoutPercentage: 70,
					elements: {
						center: {
							text: percentage + "%",
							fontStyle: 'Arial', // Default is Arial
							sidePadding: 70 // Defualt is 20 (as a percentage)
						}
					}
				}
			});
		}
	</script>

	<script>
		var map = L.map("mapid");
		var tileLayer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_nolabels/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
			subdomains: 'abcd',
			minZoom: 1,
			maxZoom: 16,
			ext: 'jpg'
		});

		tileLayer.addTo(map);

		map.setView([0, 0], 0);
		var clusters = L.markerClusterGroup();
		var claimingRegion = L.circle();

		function drawMap(loc_constraints, coordinates) {

			console.log(loc_constraints);
			map.removeLayer(clusters);
			map.removeLayer(claimingRegion);
			clusters.clearLayers();
			map.setView([0, 0], 0);

			for (i = 0; i < coordinates.length; i++) {
				var circle = L.circleMarker(coordinates[i],
					{
						radius: 4,
						weight: 1,
						color: 'white',
						fill: true,
						fillColor: '141d29',
						fillOpacity: 1.0
					});

				clusters.addLayer(circle);
			}
			map.addLayer(clusters);
			if (loc_constraints.length > 0) {
				console.log("real");
				claimingRegion = L.circle([loc_constraints[0], loc_constraints[1]],
				{
						radius: loc_constraints[2],
						fill: false,
				})
				claimingRegion.addTo(map)

			}



			$('#ex1').on('shown.bs.modal', function () {
				map.invalidateSize();
			});

		}
	</script>


	<script>
		var cal = new CalHeatMap();
		cal.init({});

		function drawCalendar(timeWindows, data) {

			//Reset next and prev buttons
			document.getElementById('minDate-next').style.visibility = 'visible';
			document.getElementById('minDate-previous').style.visibility = 'visible';
			document.getElementById("minDate-next").disabled = false;
			document.getElementById("minDate-previous").disabled = false;

			claimBegin = timeWindows[0][0]; //Assuming only 1 time window for claiming
			claimEnd = timeWindows[0][1];



			if (claimEnd == -1) {
				var lastDayInMonth = new Date();
				lastDayInMonth.setMonth(lastDayInMonth.getMonth() + 1);
				lastDayInMonth.setDate(1); // first day in next month
				lastDayInMonth.setDate(lastDayInMonth.getDate() - 1);

				claimEnd = lastDayInMonth;
			}
			var stats = {};
			//Get the data in the correct form:
			// { "timestamp" : 1 ,
			//  "timestamp2" : 1 , ...}

			// where timestamp is the date in seconds (epoch time)
			for (var d in data) {
				var timestamp = (new Date(data[d]).getTime() / 1000).toString();
				stats[timestamp] = 1;
			}

			var minDate = new Date(claimBegin);
			var maxDate = new Date(claimEnd);

			var endOfFinalDay = new Date(maxDate);
			endOfFinalDay.setHours(23);
			endOfFinalDay.setMinutes(59);
			endOfFinalDay.setSeconds(59);
			for (var d = new Date(minDate); d <= endOfFinalDay; d.setDate(d.getDate() + 1)) {

				if (!((new Date(d).getTime() / 1000) in stats))
					stats[new Date(d).getTime() / 1000] = 0;
			}

			var range = monthRange(minDate, maxDate);
			var maxRangeToDisplay = 3;
			if (range <= maxRangeToDisplay) {
				document.getElementById('minDate-previous').style.visibility = 'hidden';
				document.getElementById('minDate-next').style.visibility = 'hidden';
			}


			cal = cal.destroy();
			cal = new CalHeatMap();
			cal.init({
				data: stats,
				itemNamespace: "cal-heatmap",
				considerMissingDataAsZero: false,
				start: new Date(claimBegin),
				domain: "month",
				minDate: minDate,
				maxDate: maxDate,
				subDomain: "x_day",
				range: Math.min(maxRangeToDisplay, monthRange(minDate, maxDate)),
				cellSize: 15,
				legendCellSize: 15,
				domainGutter: 6,
				label: { position: "top" },

				itemName: ["token claimed", "tokens claimed"],
				subDomainTitleFormat: {
					empty: "Token was unavailable on {date}"
				},
				displayLegend: true,
				//legend:[5,20,30,40,50],
				legendColors: {
					empty: "#ededed",
					max: "#acffe9",
					min: "#141d29",
					base: "#f9f9f9"
				},

				tooltip: true
			});
		}

		$("#minDate-previous").on("click", function (e) {
			e.preventDefault();
			if (!cal.previous()) {
				document.getElementById("minDate-previous").disabled = true;
			}
			else
				document.getElementById("minDate-next").disabled = false;
		});

		$("#minDate-next").on("click", function (e) {
			e.preventDefault();
			if (!cal.next()) {
				document.getElementById("minDate-next").disabled = true;
			}

			else
				document.getElementById("minDate-previous").disabled = false;
		});


		function monthRange(start, end) {
			return end.getMonth() - start.getMonth()
				+ (12 * (end.getFullYear() - start.getFullYear())) + 1;
		}

	</script>

	<script>
		var claim_cost_data = [];
		var claim_price_data = [];
		var claim_total_cost_data = [];

		var trade_cost_data = [];
		var trade_price_data = [];
		var trade_total_cost_data = [];

		var tradable = 0;

		var chartColors = {
			red: 'rgb(255, 99, 132)',
			orange: 'rgb(255, 159, 64)',
			yellow: 'rgb(255, 205, 86)',
			green: 'rgb(75, 192, 192)',
			claimColor: '#141d29',
			tradeColor: 'rgb(107,194,195)',
			purple: 'rgb(153, 102, 255)',
			grey: 'rgb(231,233,237)'
		};

		var chart = new Chart(document.getElementById("lineChart"));
		var first = true;
		function drawGasPrices(priceAndTime, traded) {
			tradable = traded;
			claim_cost_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_gas_cost"]);
			claim_price_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_gas_price"]);
			claim_total_cost_data = formatData(priceAndTime["claim_timestamps"], priceAndTime["claim_transaction_cost"]);

			trade_cost_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_gas_cost"]);
			trade_price_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_gas_price"]);
			trade_total_cost_data = formatData(priceAndTime["trade_timestamps"], priceAndTime["trade_transaction_cost"]);
			if (first == true) {
				chart.destroy();
				var config = {
					type: 'scatter',
					data: {
						datasets: [{
							label: 'Claim',
							data: claim_price_data,
							showLine: true,
							fill: false,
							backgroundColor: chartColors.claimColor,
							borderColor: chartColors.claimColor,
						}
						]
					},
					options: {
						title: {

						},
						legend: { display: true },
						scales: {
							bounds: 'ticks',
							xAxes: [{
								display: true,
								type: 'time',
								time: {
									displayFormats: {
										'millisecond': 'MMM DD',
										'second': 'MMM DD',
										'minute': 'MMM DD',
										'hour': 'MMM DD',
										'day': 'MMM DD',
										'week': 'MMM DD',
										'month': 'MMM DD',
										'quarter': 'MMM DD',
										'year': 'MMM DD',
									}
								},
								scaleLabel: {
									display: true,
									labelString: 'Time of Transaction'
								}
							}],
							yAxes: [{
								scaleLabel: {
									display: true,
									labelString: "Gas Price"
								}
							}]
						}
					}
				}

				var ctx = document.getElementById("lineChart");
				chart = new Chart(ctx, config);
				first = false;
				chart.update();
			}

			else {
				var data = chart.config.data;
				chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Price";
				data.datasets[0].data = claim_price_data;

				if (data.datasets.length > 1) {
					data.datasets.pop();
				}
				chart.update();
			}

			if (tradable != -1) //Token is tradable
			{
				var trade_dataset = {
					label: "Trade",
					data: trade_price_data,
					showLine: true,
					fill: false,
					backgroundColor: chartColors.tradeColor,
					borderColor: chartColors.tradeColor
				}

				chart.data.datasets.push(trade_dataset);
				chart.update();
			}
		}

		$("#gasprice").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Price";
			data.datasets[0].data = claim_price_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_price_data;
			}
			chart.update();
		});

		$("#gascost").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Gas Cost";
			data.datasets[0].data = claim_cost_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_cost_data;
			}
			chart.update();
		});

		$("#transactioncost").click(function () {
			var data = chart.config.data;
			chart.options.scales.yAxes[0].scaleLabel.labelString = "Total cost";
			data.datasets[0].data = claim_total_cost_data;

			if (tradable != -1) {
				data.datasets[1].data = trade_total_cost_data;
			}
			chart.update();
		});

		function formatData(xvals, yvals) {
			var formattedData = [];
			var datum = {};
			//Get the data in the correct form:
			// { x : 'date' ,
			//  y : 'price' , ...}
			for (var i in xvals) {
				datum = {};
				datum["x"] = new Date(xvals[i]);
				datum["y"] = yvals[i];
				formattedData.push(datum);
			}

			return formattedData;
		}
	</script>

	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>


	</body>

</html>
