<!DOCTYPE html>
<html lang="en">

<head>
    <title>T o k e n</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="
        stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
    <link href="{{ url_for('static',filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/loader.css') }}" rel="stylesheet">



    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />

</head>

<body>


    <header class="nav fixed-top">
        <img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png') }}" height="50px" data-toggle="tooltip"
            data-placement="bottom" title="Alpha 1.0"></img>

        <a class="nav-btn" href="home">Home</a>
        <a class="nav-btn" href="analytics" data-placement="bottom" title="View Token Analytics">Analytics</a>
        <a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>
        <a class="nav-btn active" href="" data-placement="bottom" title="Issue your very own token">Issuing</a>
        <a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item" id="#username">Username</a>
                    <a class="dropdown-item" href="index">Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="spacing"></div>

    <div class="col-lg-8 offset-lg-2">
        <div class="row align-items-center justify-content-center">

            <h1 class='display-4'>Token Creation</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <p>Customize your token below</p>

        </div>
        <div class="row align-items-center justify-content-center">
            <div class="card solo align-items-center">
                <div class="wave">
                    <div class="shadow">
                        <div class="token">
                            <img id="image" src="{{ url_for('static',filename='images/tokenicon.png') }}" alt="" width="128" />
                        </div>
                    </div>
                    <div id="token_name" class="title center"></div>

                    <div id="token_desc" class="title"></div>
                    <div id="token_count" class="title" style="color: rgba(0,0,0,0.5); position: absolute; bottom: 40px; right: -15px;"></div>

                </div>

            </div>

        </div>


        <script>
            //var url = "localhost:8088"
            var url = "167.99.26.0:80";

            var longitude;
            var latitude;
            var radius;
            var map;

            function formatDate(time) {
                if (time == "") return ""
                var temp = time.split(" ");
                var day = temp[1].split("/");
                var time = temp[0].split(":");
                return day[2] + "-" + day[0] + "-" + day[1] + " " + time[0] + ":" + time[1] + ":00"
            }

            function publish() {
                $('#loader').show();
                $('#screen').show();
                var name = $("#name").val()
                var num_created = $("#count").val()
                var description = $("#desc").val()
                var start_time = formatDate($("#starttime").val())
                var end_time = formatDate($("#endtime").val())
                var tradable = $('#tradable').is(":checked");
                var qr_code_claimable = $('#qrcode').is(":checked");
                var code = ""
                code = $("#code").val()

                console.log("start_time = " + start_time);
                console.log("end_time = " + end_time);
                console.log("tradable = " + tradable);
                console.log("code = " + code);
                console.log("qr_code_claimable = " + qr_code_claimable);
                console.log("latitude = " + latitude);
                console.log("longitude = " + longitude);
                console.log("radius = " + radius);
                var codes = []

                if (code.length == 6) {
                    codes = [{ "code": code }]
                }
                var times = []
                if (start_time != "" && end_time != "") {
                    times = [{ "start": start_time, "end": end_time }]
                }
                var locs = []
                if (latitude != null && longitude != null) {
                    locs = [
                        {
                            "latitude": latitude,
                            "longitude": longitude,
                            "radius": radius
                        }
                    ]
                }
                var constraints = {
                    "code_constraints": codes,
                    "time_constraints": times,
                    "location_constraints": locs
                }

                json_data = {
                    "name": name,
                    "description": description,
                    "num_created": num_created,
                    "constraints": constraints,
                    "tradable": tradable,
                    "qr_code_claimable": qr_code_claimable
                }
                var formData = new FormData();


                if (document.getElementById("meta_check").checked) {
                    var meta_json_data = validate_and_get_json();
                    if (meta_json_data == null){
                        $('#loader').hide();
                        $('#screen').hide();
                        alert("JSON must be formatted correctly to send as meta data!");
                        return false;
                    }else{
                        formData.append("meta_json_data", meta_json_data);
                    }
                }

                formData.append("json_data", JSON.stringify(json_data));
                formData.append("token_image", $('input[type=file]')[0].files[0]);

                console.log(formData)
                $.ajaxSetup({
                    headers: {
                        'Authorization': "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6InllZXQiLCJpX2lkIjoyLCJhbGciOiJIUzI1NiJ9.yzz8jSVE7IAKxVO6g2LeZ2ib2t7RgvR8G7pAAhK9dYs"//document.cookie
                    },
                    processData: false,
                    contentType: false
                });
                $.post(
                    "http://" + url + "/contract",
                    formData,
                    function (data, status) {
                        console.log(data); // read
                        if (status == "success") {
                            window.location.href = 'analytics';
                        }
                    })
                    .fail(function (response) {
                        //status
                        //status_code
                        //var obj = JSON.parse(response.responseText);
                        console.log(response.responseText);
                    });
                setTimeout(function () {
                    $('#loader').hide();
                    $('#screen').hide();
                }, 1000);
            }


            hidden = true;
            function toggle() {
                if ($(".location").is(":hidden")) {
                    $(".location").show();
                    map.invalidateSize();
                    hidden = false;
                } else {
                    $(".location").hide();
                    hidden = true;
                }
            }
        </script>
        <form class="form" id="target" enctype="multipart/form-data" action="javascript:publish();">
            <div class="container">
                <div class="col-sm">
                    <input type="" class="form-control" id="name" name="name" placeholder="Name" required>


                    <input type="" class="form-control" id="count" type="number" min="1" max="1000" name="num_created"
                        placeholder="Quantity" required>

                    <textarea type="" class="form-control" id="desc" placeholder="Description" rows="3" name="description"
                        required></textarea>

                    <script>
                        $("#name").change(function () {
                            $('#token_name').html($("#name").val());
                        });
                        $("#desc").change(function () {
                            $('#token_desc').html($("#desc").val());
                        });
                        $("#count").change(function () {
                            $('#token_count').html('0/' + $("#count").val());
                        });
                    </script>


                    <div class="custom-file">

                        <script>
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.name = input.files[0].name;

                                    reader.onload = function (e) {
                                        $('#image')
                                            .attr('src', e.target.result)
                                            .width("100%")
                                            .height("100%");
                                        $('.custom-file-label').text(e.target.name);

                                    };

                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                        </script>

                        <input type='file' class="custom-file-input" placeholder="thumbnail" id='t_image' onchange="readURL(this);"
                            name="token_image" data-toggle="tooltip"
                            data-placement="left" title="Add an Image to your Token"/>
                        <label class="custom-file-label form-control" for="t_image">Choose file</label>




                    </div>
                        
                    <div class="btn-group container">
                        <label class="form-control form-control-2" data-toggle="tooltip"  data-placement="left"
                               title="Can this token be traded?">
                            <input id="tradable" type="checkbox"> Tradable?
                        </label>

                        <label class="form-control form-control-2" data-toggle="tooltip"
                        data-placement="right" title="Advanced Constraint Options will be disabled">
                            <input id="qrcode" type="checkbox"> QR CODE</label>
                    </div>

                    <button class="btn btn-secondary advanced" id="advanced" type="button" data-toggle="collapse" onclick="toggle()"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        + Advanced Constraint Options
                    </button>

                    <div class="collapse" id="collapseExample">
                        <input type="" class="form-control" id="code" name="code_constraint" placeholder="Code Constraint 'XXXXXX'">
                        <div class="row" style="margin: 20px">
                            <input type="" class="form-control" id="starttime" name="start_time" placeholder="Start time">

                            <input type="" class="form-control" id="endtime" name="end_time" placeholder="End time">
                        </div>
                        <script>
                            $("#starttime").datetimepicker();
                            $("#endtime").datetimepicker();

                        </script>
                    </div>

                    <div class="location" style="display: none; margin: 20px;">

                        <p>Choose Location</p>

                        <div id="mapid" style=" height: 400px;"></div>
                        <script>
                            map = L.map('mapid').setView([20, 0], 1);

                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            var geocoder = L.Control.geocoder({
                                defaultMarkGeocode: false
                            })
                                .on('markgeocode', function (e) {
                                    var mark = e.geocode.center;
                                    console.log(e.geocode);
                                    marker.setLatLng(mark);
                                    circle.setLatLng(mark);
                                    map.setView(mark, 2);
                                })
                                .addTo(map);

                            var latlng = [0, 0];
                            var marker = L.marker();
                            var circle = L.circle();
                            var first = true;

                            function onMapClick(e) {
                                marker.setLatLng(e.latlng);
                                circle.setLatLng(e.latlng);

                                if (first) {
                                    marker.addTo(map);
                                    circle.setRadius(100);
                                    circle.addTo(map);
                                    first = false;
                                }

                                latlng = e.latlng;
                                latitude = latlng.lat;
                                longitude = latlng.lng;
                                radius = circle.getRadius();
                                console.log(latlng);

                            }

                            map.on('click', onMapClick);
                        </script>

                        <script>
                            function updateSlider(slideAmount) {
                                var sliderDiv = document.getElementById("sliderAmount");
                                //sliderDiv.innerHTML = slideAmount;
                                circle.setRadius(slideAmount);
                                console.log(circle.getRadius());
                                radius = circle.getRadius();
                            }
                        </script>

                        <input id="slide" type="range" min="100" max="700000" step="70" value="100" style="margin-top: 20px;"
                            onchange="updateSlider(this.value)">
                        <div id="sliderAmount">Radius</div>
                    </div>


                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Token Meta Data:</h3>
                                <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="meta_check" onclick="hide_open_editor()">
                                <label class="form-check-label" for="exampleCheck1">Enable Token Meta Data</label>
                            </div>
                            </div>

                            <div class="panel-body" id="editor_div">
                                <div id="editor"></div>
                            </div>
                        </div>
                    </div>



                    <div class="row" style="margin: 10px;">
                    <button type="submit" class="btn btn-primary">Publish</button>
                </div>
                    <div id="loader" style="display: none; width: 20px; height: 20px; position: relative; margin: 10px;"></div>
                </div>

            </div>
        </form>


    </div>

    <div id="screen" style="display: none"></div>
    <footer></footer>
</body>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('header').addClass('shrink');
            $('div.contain').addClass('shrink');
        } else {
            $('header').removeClass('shrink');
            $('div.contain').removeClass('shrink');

        }
    });
    $('#qrcode').change(function(){
                console.log("working")
                if (this.checked) {
                    $('#advanced').prop('disabled', true);
                    $('.collapse').collapse("hide");
                    $(".location").hide();
                } else {
                    $('#advanced').prop('disabled', false);
                }
            })


    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_light");
    editor.session.setMode("ace/mode/json");

    function validate_and_get_json() {
        /**
         * This method trys to parse the json data given. If it cannot it will return null.
         */
        try {
            return JSON.stringify(JSON.parse(editor.getValue()));
        } catch (err) {
            return null;
        }

    }

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

    function hide_open_editor(){
        toggle_visibility('editor_div')
    }

    // Start with the editor hidden.
    var e = document.getElementById('editor_div');
    e.style.display = 'none';


</script>

</html>