<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>T o k e n</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">
		<link href="css/home.css" rel="stylesheet">

	</head>
	<body>
		
		<body>
			
			
			<header class="nav fixed-top">
				<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="50px" data-toggle="tooltip" data-placement="bottom" title="Full Release 1.0"></img>
				
				<a class="nav-btn" href="home">Home</a>
				<a class="nav-btn" href="analytics" data-placement="bottom" title="View token analytics">My Tokens</a>
				<a class="nav-btn active" href="" data-placement="bottom" title="Explore all issued tokens">Explore</a>			
				<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
				<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>
				
				<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
					<li class="nav-item dropdown">
						<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							My Account
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
							<a class="dropdown-item" href="index">Logout</a>
						</div>
					</li>			
				</ul>
			</header>
			<div class="spacing"></div>

			<script>
				function display(collection){
					$('#collection').text("");
					var tokens = '<div class="col-2"></div><div class="col-8"><div class="row">';
					for(var i = 0; i < collection.contracts.length; i++){
						//$('#collection').append(collection.contracts[i].name + ":<br>" + collection.contracts[i].description + "<br>");
						tokens += '<div class="card align-items-center"><div class="wave"><div class="shadow"><div class="token" ><img id="image" src='+collection.contracts[i].pic_location+' alt="" width="128"/></div></div><div class="title center">'+collection.contracts[i].name+'</div><div class="title">'+collection.contracts[i].description+'</div></div></div>';
					}
					tokens += '</div></div><div class="col-1"></div>';
					$('#collection').append(tokens);
				}
				var url = "167.99.26.0:80";
				//var url = "localhost:8088";
				
				$('document').ready(function view(){
					
					$.ajaxSetup({
						headers: {
							'Authorization': document.cookie
						}
					});
					$.get(
					"http://"+url+"/explore/contracts",
					function(data,status){	
						console.log(data); // read
						
						display(data.resp_data);
					},
					'json')
					.fail(function(response) {
						//status
						//status_code
						//var obj = JSON.parse(response.responseText);
						console.log(response.responseText);
					});
				});
			</script>
	<div class="row align-items-center justify-content-center">
			 
			 <h1 class='display-4' style="padding-top: 30px; font-size: 40px;">Latest Tokens</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <p>Tokens published by all Issuers</p>

        </div>
			<div id="collection" class="row"></div>
			<form class="form-inline my-2 my-lg-0" id="target" action="javascript:view();" style="display:none;">
				<input class="form-control mr-sm-2" type="search" placeholder="Search My Tokens" aria-label="Search">
				<button class="btn btn-outline-primary my-2 my-sm-0">Search</button>
			</form>
			
			
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>			
			<script type="text/javascript">
				// Load google charts
				google.charts.load('current', {'packages':['corechart']});
				//				google.charts.setOnLoadCallback(drawChart);
				
				// Draw the chart and set the chart values
				function drawChart(claimed,unclaimed) {
					var data = google.visualization.arrayToDataTable([
					['Tokens' , 'Number Claimed'],
					['Claimed', claimed],
					['Unclaimed', unclaimed]
					]);
					
					var options = {'width':550, 'height':300, 'backgroundColor':'transparent', 'chartArea':{width:'90%',height:'90%'}, 'pieHole':0.6};
					
					var chart = new google.visualization.PieChart(document.getElementById('piechart'));
					chart.draw(data, options);
					$('#myModal').modal('show');
				}
			</script>

		
		
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip(); 
			});
			$(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('header').addClass('shrink');
            $('div.contain').addClass('shrink');
        } else {
            $('header').removeClass('shrink');
            $('div.contain').removeClass('shrink');

        }
    });
		</script>
    </body>

	</html>
