<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>T o k e n</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">
		
	</head>
	
	<body>
		
		<script>
			console.log("cookie: " + document.cookie);
		</script>
		<header class="nav fixed-top">
			<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="50px" data-toggle="tooltip" data-placement="bottom" title="Alpha 1.0"></img>
			
			<a class="nav-btn active" href="">Home</a>
			<a class="nav-btn" href="analytics" data-placement="bottom" title="View Token Analytics">Analytics</a>
			<a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>			
			<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
			<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>
			
			<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
				<li class="nav-item dropdown">
					<a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						My Account
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
						<a class="dropdown-item" id="#username">Username</a>
						<a class="dropdown-item" href="index">Logout</a>
					</div>
				</li>			
			</ul>
		</header>
		
		<div class="image"></div>
		<div class="block1">
			<div class="row">
				<div class="col-lg-6 offset-lg-1">
					<br>
					<h3>Create your virtual commemorative</h3>
					<br>
					<p>Token allows businesses and individuals to create unique virtual tokens that can be collected by users, with <b>proof of ownership on the blockchain</b>.</p>
					<p>Tokens may be artistic or contain media.	Some may be transferable, some may be limited, and they all map to an item or experience in the real world. 
					Our users may receive tokens for attending a sporting event, purchasing an exclusive item, or participating in a competition.</p>
						With this platform, anyone can release a unique digital token and receive real-time analytics on the interactions and values it has gone through.
					All of this can now be accomplished without needing to exhaust resources on developing and deploying your own <a href="https://www.ethereum.org/" target="_blank">Ethereum smart contracts</a>.</p>
					
					
				</div>
				<div class="col-lg-4">
					<img src="{{ url_for('static',filename='images/blockchain2.png')}}" height="350px" style="padding-top: 20px; padding-left: 50px; padding-right: 50px;"></img>
					
				</div>
			</div>
		</div>
		<div class="image2"></div>
		
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip(); 
			});
			
			$(window).scroll(function() {
				if ($(document).scrollTop() > 20) {
					$('div.image').addClass('shrink');
					$('div.contain').addClass('shrink');
					} else {
					$('div.image').removeClass('shrink');
					$('div.contain').removeClass('shrink');
					
				}
			});
		</script>	
	</body>
			<footer class="block2">&copy; 2018 by Team Token.</footer>

	
	
</html>
