<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>T o k e n</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="{{ url_for('static',filename='css/home.css')}}" rel="stylesheet">
		<link href="css/home.css" rel="stylesheet">

	</head>
	
	<body>
		
		<script>
			console.log("cookie: " + document.cookie);
		</script>
				<div class="nav justify-content-center">

				<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="100px" data-toggle="tooltip" data-placement="bottom" title="Full Release 1.0"/>
				</div>
				<div class="nav justify-content-center fixed-top" data-500-bottom="opacity: 1;" data-300-bottom="opacity: 0;" data-anchor-target="footer" >

				<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="100px" data-toggle="tooltip" data-placement="bottom" title="Full Release 1.0"/>
				</div>

		<header class="nav justify-content-center nav2" >


			<a class="nav-btn active" href="">Home</a>
			<a class="nav-btn" href="analytics" data-placement="bottom" title="View Token Analytics">My Tokens</a>
			<a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>			
			<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
			<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>
		</header>

		<img class="image" src="{{ url_for('static',filename='images/blockchain.jpg')}}"  data--20="top: -100px;" data-500="top: 100px; "/>
		<div class="block1">
			<div class="row">
				<div class="col-lg-4 offset-lg-3" style="padding-top: 150px; padding-bottom:150px;" data-200-top="opacity: 1"
                data--50-top="opacity: 0">
					<h3 style="font-size: 30px;">Create your virtual commemorative</h3>
					<br>
					<p>Token allows businesses and individuals to create unique virtual tokens that can be collected by users, with <b>proof of ownership on the blockchain</b>.</p>
						</div>
			<div class="col-lg-4">
					<img  src="{{ url_for('static',filename='images/blockchain2.png')}}" height="350px" style="margin-top: 50px;" data-700-top="padding-left: 0px"
									   data--300-top="padding-left: 150px"/>
					
				</div>
			</div>		
			</div>

		<div class="block3">
			<div class="row">
			<div class="col-lg-3 offset-lg-3">
					<img  src="{{ url_for('static',filename='images/idea_1.png')}}" height="300px" style="margin-top: 75px;" data-200-bottom=" transform: rotate(40deg);"
					data--300-top="transform: rotate(-40deg);"></img>

				</div>
				<div class="col-lg-3 text-right" style="padding-top: 150px; padding-bottom:150px;" data-200-top="opacity: 1;"
									   data--50-top="opacity: 0"
                >
					<h3 style="font-size: 30px;">Realize your ideas</h3>
					<br>
					<p>Tokens may be artistic or contain media.	Some may be transferable, some may be limited, and they all map to an item or experience in the real world. 
					</p>
						
					</div>
					</div>
					</div>
		<div class="block1" style="margin-top: 0px; color: #141d29; background: white; border: none;">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 text-center" style="padding-top: 120px; padding-bottom:50px;" data-200-bottom="opacity: 1"
                data-500-bottom="opacity: 0">
					<h3 style="font-size: 30px;">Publish Faster</h3>
					<br>
				<p>With this platform, anyone can release a unique digital token and receive real-time analytics on the interactions and values it has gone through.
					All of this can now be accomplished without needing to exhaust resources on developing and deploying your own 
					
					<a href="https://www.ethereum.org/" target="_blank">Ethereum smart contracts</a>.</p>	
				<img  src="{{ url_for('static',filename='images/coding.jpg')}}" height="350px" style="position: relative" data-800-bottom="margin-top: 300px"
                data--300-bottom="margin-top: 20px;"></img>
					</div>		
				</div>

			</div>


                <div class="block5">
			<div class="row">
                <div class="col-lg-4 offset-lg-3 text-left" style="padding-top: 150px; padding-bottom:150px;" data-200-top="opacity: 1;"
									   data--50-top="opacity: 0">
					<h3 style="font-size: 30px;">Claim your creations</h3>
					<br>
					<p>Access our mobile application to start collecting tokens. On the mobile app, users can claim tokens made by issuers all over the world.</p>

					</div>
			<div class="col-lg-3 ">
					<img  src="{{ url_for('static',filename='images/phone-app-icon.png')}}" height="300px" style="margin-top: 75px;" data-200-bottom=" transform: rotate(-40deg);"
					data--300-top="transform: rotate(40deg);"></img>

				</div>
					</div>
					</div>

        <div class="block4">
			<div class="row">
                <div class="col-lg-3 offset-lg-2">
					<img  src="{{ url_for('static',filename='images/api.png')}}" height="320px" style="margin-top: 60px;" data-700-top="padding-right: 0px"
									   data--300-top="padding-right: 150px"/>

				</div>
				<div class="col-lg-4 text-right" style="padding-top: 150px; padding-bottom:150px;" data-200-top="opacity: 1"
                data--50-top="opacity: 0">
					<h3 style="font-size: 30px;">Code to our open API</h3>
					<br>
					<p>Don't want to use our mobile app or web portal? You're in luck. Use our open API to customize your T O K E N experience. <a href="documentation">Check out our docs.</a></p>
						</div>
			</div>
        </div>
								<footer class="block2"><div class="container text-right">&copy; 2018 by Team Token.</div></footer>

		<div class="end" data-200-bottom="top: -100%;" data--20-bottom="top: 0px;" data-anchor-target="footer" >
		<div class="middle">


		<img class="logo" src="{{ url_for('static',filename='images/tokentitlelight.png')}}" height="150px" data-toggle="tooltip" data-placement="bottom" title="Full Release 1.0"></img>
			
			<a class="nav-btn active" href="">Home</a>
			<a class="nav-btn" href="analytics" data-placement="bottom" title="View Token Analytics">My Tokens</a>
			<a class="nav-btn" href="explore" data-placement="bottom" title="Explore all issued tokens">Explore</a>			
			<a class="nav-btn" href="creation" data-placement="bottom" title="Issue your very own token">Issuing</a>
			<a class="nav-btn" href="about" data-placement="bottom" title="Learn about Token and its developers">About</a>

</div>
		</div>
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip(); 
			});
$(window).scroll(function () {
        if ($(document).scrollTop() > 50) {
            $('header').addClass('shrink');
            $('div.contain').addClass('shrink');
        } else {
            $('header').removeClass('shrink');
            $('div.contain').removeClass('shrink');

        }
    });
		</script>	
	<script type="text/javascript" src="{{ url_for('static',filename='skrollr.min.js')}}"></script>
    <script type="text/javascript">
        var s = skrollr.init();
    </script>
	
		</body>

</html>
